@model IEnumerable<BookZone.Models.Product>
<partial name="_Notification" />
<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">
				PRODUCT LIST
			</h2>
		</div>
		<div class="col-6 text-end">
			<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Create">
				<i class="bi bi-plus-circle"></i> Create New Product
			</a>
		</div>
	</div>
</div>
<table id="tblData" class="table table-borderd table-striped table-light">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Description</th>
			<th>Price</th>
			<th>Discount</th>
			<th>Last_Price</th>
			<th>Quantity</th>
			<th>Categories</th>
			<th></th>
		</tr>
	</thead>
	@*<tbody>
		@foreach (var item in Model.OrderBy(c => c.Id))
		{
			<tr>
				<td class="align-middle">
					@item.Title
				</td>
				<td class="align-middle">
					@item.Author
				</td>
				<td class="align-middle">
					@item.Description
				</td>
				<td class="align-middle">
					@item.Price
				</td>
				<td class="align-middle">
					@item.Discount
				</td>
				<td class="align-middle">
					@item.PriceWithDiscount
				</td>
				<td class="align-middle">
					@item.Quantity
				</td>
				<td class="align-middle">
					@foreach(var cat in item.ProductCategories)
					{
						
						@(cat.Category.Name)
						@if (!cat.Equals(item.ProductCategories.Last()))
						{
							@(" , ")
						}

				}
				</td>
				<td class="align-middle">
					<div class="d-flex justify-content-end">
						<a class="btn btn-outline-info rounded rounded-3 me-2 px-3 py-3" asp-action="Edit" asp-route-id="@item.Id">
							<i class="bi bi-pencil-square"></i>
						</a>
						<a class="btn btn-outline-danger rounded rounded-3 px-3 py-3" asp-action="Delete" asp-route-id="@item.Id">
							<i class="bi bi-trash3"></i>
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>*@
</table>
@section Scripts{
	<script src="~/js/Product.js"></script>
}